<h1> New Genre </h1> 

<%= render partial: "layouts/errors", locals: {object: @genre} %>

<%= form_for(@genre) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name%>

    <%= f.submit %>
<% end %> 