<h1> New Author </h1> 
<%= render partial: "layouts/errors", locals: {object: @author} %>
<%= form_for(@author) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>


    <%= f.submit %>

    <% end %> 