<h1> Signup for BookKeeper Here!</h1> 
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this review from being saved:</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %> 

<%= render partial: "layouts/errors", locals: {object: @user} %>

<%= form_for(@user, action: '/signup') do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :username %>
<%= f.text_field :username %>
<br>
<%=f.label :email %>
<%=f.email_field :email %>
<br> 
<%=f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.submit "submit" %> 
    <% end %>