

  </div>
<%= form_for(@book) do |f| %>
   <%= display_authors_fields(f) %> 
   <%= f.label :author, "Author:" %> 
<%= f.collection_select :author_id, Author.all, :id, :name, prompt: true %> <br><br>
<%= f.fields_for :author do |b| %> 
 <p> Or Create a New Author Below: </p>
    <%= b.label :name, "Name:"%>
    <%= b.text_field :name%> 
    <% end %> <br> <hr> <br> 
    <%= f.label :title, "Title:" %>
    <%= f.text_field :title%> 
    <%= f.label :genre, "Genre:" %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: true %> <br><br>
    <%=f.submit %> 
    <% end %>
   