<%= form_for(@book) do |f| %>
   <%= display_authors_fields(f) %> 
   <%= f.label :author, "Author:" %> 
<%= f.collection_select :author_id, Author.all, :id, :name, prompt: true %> <br><br>
<%= f.label :title, "Title:" %>
<%= f.text_field :title%> 
<%= f.label :genre, "Genre:" %>
<%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: true %> <br><br> </ul></h5>
<%=f.submit %> 
<% end %>