<% if @author %>
<h1> New Book Form </h1> 
<h1>Books for <%= @author.name%> </h1>
<% else %> 
<h1> New Book </h1> 
<% end %> 


<%= form_for([@book.author, @book]) do |f| %>

  

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :author %>
    <%= f.text_field :author %>

    <%= f.label :genre %>
    <%= f.text_field :genre %>

    <%= f.submit %>

  <% end %>

